mixin inputField(type="email", name="email", placeholder="Email", required=false, labelName="Text Field")
  .form-field
    label.form-field__label.label-base #{labelName}
    input.form-field__control.form-field__control--input(type=type, name=name, placeholder=placeholder, required=required)
