extends layouts/layout.pug

block head
  title Colors &amp; Type
block content
  .color-and-type
    .color-palette
      each color in colorPalette
        .color-item
          .color-box(class=color.class)
          p
            b= color.name
            br
            span= color.hex
    .typography
      each type in typographyStyles
        .typography-item
          #{type.tag}(class="typography-title")= type.name
          #{type.tag}(class="typography-text")= type.example

  .form-elements
    form
      +inputField()
      +dropdown("guests", "dropdown", "Сколько гостей", ["Взрослые", "Дети", "Младенцы"])
      +dropdown("rooms", "dropdown", "Удобство номера", ["Спальни", "Кровати", "Ванные комнаты"])
      +checkboxDropdown("expandable checkbox list",
                        "additional-amenities",
                        ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"])
      +checkboxGroup("checkbox buttons",
                      "house-rules",
                      ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"])
      +checkboxRich("rich checkbox buttons",
                    "availability",
                    [
                      { name: "Широкий коридор", desc: "Ширина коридоров в номере не менее 91 см.", width: "233px" }, 
                      { name: "Помощник для инвалидов", desc: "На 1 этаже вас встретит специалист  и проводит до номера.", width: "260px" }
                    ])
      +bulletList("bullet list",
                  ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
      
